<h1>Pauper</h1>


<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1">
<div dir="ltr">
<div>
<a href="https://magic.wizards.com/en/game-info/gameplay/formats/pauper">Official Pauper Banlist</a><br />
<br />
<font size=6>Meta game</font><br />
<a href="https://www.mtgtop8.com/format?f=PAU">MTGTOP8</a><br />
<a href="https://www.mtggoldfish.com/metagame/pauper#paper">MTG Goldfish</a><br />
<a href="https://www.gatherling.com/seriesreport.php?series=Pauper+Classic+Tuesdays&season=7">Pauper Classic Tuesdays</a><br />
<br />
<font size=6>Resources</font><br />
<a href="https://puremtgo.com/articles/recent?uid=&title=&field_summary_value=pauper">Pure MTGO</a><br />
<a href="http://www.reddit.com/r/Pauper/" rel="nofollow">Pauper @ Reddit</a><br />

<br />
<font size=6>Pauper People</font><br />
<a href="https://www.facebook.com/nerdtothecore" rel="nofollow">Alex Ullman Facebook</a><br />
<a href="https://www.twitch.tv/pauperganda/videos">Pauperganda Twitch</a><br />
<a href="https://www.youtube.com/channel/UCqJ0E420KX9_3lFNJjDoKDA">Pauperganda Youtube</a><br />
<a href="https://www.youtube.com/channel/UCg1tU3i6z52tAZunIPhCS4w/videos"</a>Caleb Gannon</a><br/>
<br />
</div>
</div>


</td></tr></tbody></table>

