import pandas as pd
import os
import subprocess
import socket
pd.set_option('display.max_columns', 500)
from datetime import date
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText


today = date.today()


devices = [ "{{luks.device_path}}"]
{% for item in zfs.pool_devices %}
devices.append("{{item}}")
{% endfor %}

subject = str(socket.gethostname())+" Disk report "+str(today)
report ="<h1>"+subject+"</h1>"
report = report + "<h2>S.M.A.R.T. long test results</h2>"

for dev in devices:
    report=report+os.popen("bash {{script_location}}/ans_get_smart_test_result.sh "+dev).read() +"<br>"

report = report + "<h2>ZPool scrub:</h2>"
report = report + os.popen("zpool status -v {{zfs.pool_name}} | grep scan").read()

report = report + "<h2>Available disk space:</h2>"
bash_command = 'df -h | head -1 && df -h | grep {{zfs.pool_name}}  && df -h | grep " {{luks.mountpoint}}"'
process=subprocess.Popen(bash_command, shell=True, stdout=subprocess.PIPE, universal_newlines=True)
output=""
for line in process.stdout:
    output += line+"<br>"
process.wait()
report = report + output


report = report + "<h2>Last 8 days of Backups:</h2>"
process=subprocess.Popen("tail -16 $ANS_BORG_LOG ", shell=True, stdout=subprocess.PIPE, universal_newlines=True)
output=""
for line in process.stdout:
    output += line +"<br>"
process.wait()
report = report + output

### Send Email Part
sender = "{{email.address}}"
recipient = "{{control_node.email}}"


# Create a MIME multipart message
message = MIMEMultipart('alternative')
message['From'] = sender
message['To'] = recipient
message['Subject'] = subject

html_part = MIMEText(report, 'html')
message.attach(html_part)

# Send the email using sendmail
with smtplib.SMTP('localhost') as smtp:
    smtp.sendmail(sender, recipient, message.as_string())

