#!/bin/bash
docker exec  bookstack_db mysqldump --opt --default-character-set=utf8mb4  -u {{app_bookstack.database_user}}  --password='{{app_bookstack.database_password}}' {{app_bookstack.database}} > /home/{{usernames.bookstack}}/backup/backup.sql 2>&1
