#!/bin/bash
docker exec  bookstack_db mysqldump --opt --default-character-set=utf8mb4  -u {{vbookstack_db_user}}  --password='{{vbookstack_db_password}}' {{vbookstack_db_app}} > /home/{{vbookstack}}/backup/backup.sql 2>&1
