location:
    source_directories:
        {% if app_nextcloud.using  %}
        -    {{app_nextcloud.backupdir}}
        {% endif %}

        {% if app_bookstack.using  %}
        -    {{app_bookstack.backupdir}}
        -    {{app_bookstack.backupdb}}
        {% endif %}
        
        {% for app in borgmatic.additional_backup_dirs %}
        - {{app}}
        {% endfor %}

    repositories:
       - {{borgmatic.repo_one}}
       - {{borgmatic.repo_two}}

storage:
    encryption_passphrase: "{{borgmatic.passphrase}}"

retention:
    keep_daily: 7
    keep_weekly: 4
    keep_monthly: 6
    keep_yearly: 5

consistency:
    checks:
        - repository
          frequency: 2 weeks
        - archives
          frequency: 1 month