curl --data "username={{dns.user}}&password={{dns.password}}" https://www.goip.de/setip?   

{% if app_nextcloud.using  %}
curl --data "username={{dns.user}}&password={{dns.password}}&subdomain={{app_nextcloud.host}}" https://www.goip.de/setip?    
{% endif %}

{% if app_bookstack.using  %}
curl --data "username={{dns.user}}&password={{dns.password}}&subdomain={{app_bookstack.host}}" https://www.goip.de/setip?    
{% endif %}

{% if app_navidrome.using  %}
curl --data "username={{dns.user}}&password={{dns.password}}&subdomain={{app_navidrome.host}}" https://www.goip.de/setip?    
{% endif %}

{% if app_wekan.using  %}
curl --data "username={{dns.user}}&password={{dns.password}}&subdomain={{app_wekan.host}}" https://www.goip.de/setip?    
{% endif %}

{% if app_abs.using  %}
curl --data "username={{dns.user}}&password={{dns.password}}&subdomain={{app_abs.host}}" https://www.goip.de/setip?    
{% endif %}