#!/bin/bash
header="date;device;Reallocated_Sector_Ct;Reported_Uncorrect;Command_Timeout;Current_Pending_Sector;Offline_Uncorrectable"

smart5=`smartctl $1 -a  | grep Reallocated_Sector_Ct | awk '{print $NF}'`
smart187=`smartctl $1 -a  | grep Reported_Uncorrect | awk '{print $NF}'`
smart188=`smartctl $1 -a  | grep Command_Timeout | awk '{print $NF}'`
smart197=`smartctl $1 -a  | grep Current_Pending_Sector | awk '{print $NF}'`
smart198=`smartctl $1  -a  | grep Offline_Uncorrectable | awk '{print $NF}'`


d=$(date +%Y-%m-%d)

device=`echo $1  | awk -F "[./]+" '/\//{print $NF}'`

if [[ -f "{{hdd_logs}}/logs_$device.txt" ]]; then
header=""
else
echo $header >> {{hdd_logs}}/logs_$device.txt
fi


echo "$d;$1;$smart5;$smart187;$smart188;$smart197;$smart198" >> {{hdd_logs}}/logs_$device.txt