#!/bin/bash
docker exec  nextcloud-mariadb mysqldump --opt --default-character-set=utf8mb4  -u {{vnextcloud_db_user}}  --password='{{vnextcloud_db_password}}' {{vnextcloud_db_app}} > /home/{{vnextcloud}}/app/db/backup.sql 2>&1
