#!/bin/bash
DOW=$(date +%u)
docker exec  nextcloud-mariadb mysqldump --opt --default-character-set=utf8mb4  -u {{app_nextcloud.database_user}}  --password='{{app_nextcloud.database_password}}' {{app_nextcloud.database}} > {{dockerpath}}/nextcloud/app/db/backup_dow_${DOW}.sql 2>&1
