#!/bin/bash
DOW=$(date +%u)
docker exec  paperless-db-1 mysql  --default-character-set=utf8mb4  -u {{app_paperless.database_user}}  --password='{{app_paperless.database_password}}' {{app_paperless.database_user}} < $1
