version: '3'

services:
  pihole:
    container_name: pihole
    image: pihole/pihole
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      - WEBPASSWORD={{app_pihole.password}}
      - ServerIP= {{ansible_default_ipv4.address}}
      - VIRTUAL_HOST={{app_pihole.host}}
      - LETSENCRYPT_HOST={{app_pihole.host}}
      - LETSENCRYPT_EMAIL={{app_nginx.letsencrypt_email}}
      - NETWORK_ACCESS=internal
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
    volumes:
      - "./etc-pihole/:/etc/pihole/"
      - "./etc-dnsmasq.d/:/etc/dnsmasq.d/"
    dns:
      - 127.0.0.1
      - 1.1.1.1
#    cap_add:
#      - NET_ADMIN
#      - SYS_ADMIN
    networks:
        - net_nginx_proxy

networks:
    net_nginx_proxy:
        external: true
