server {
  listen 443 ssl;
  server_name nextcloud.{{vnginx_host}};
  root /home/{{vnginx}}/public;

        ssl_certificate         /etc/nginx/certs/{{vnginx_host}}.crt;
        ssl_certificate_key     /etc/nginx/certs/{{vnginx_host}}.key;

  # individual nginx logs for this nextcloud vhost
  access_log  /var/log/nginx/nextclouditlab_access.log;
  error_log   /var/log/nginx/nextcloud_error.log;

  location / {
    # serve static files from defined root folder;.
    # @nextcloud is a named location for the upstream fallback, see below
    try_files $uri $uri/index.html $uri.html @nextcloud;
  }

  # if a file, which is not found in the root folder is requested, 
  # then the proxy pass the request to the upsteam
  location @nextcloud {
    proxy_redirect     off;
    # you need to change this to "https", if you set "ssl" directive to "on"
    proxy_set_header   X-FORWARDED_PROTO https;
    proxy_set_header   Host              nextcloud.{{vnginx_host}};
    proxy_set_header   X-Real-IP         $remote_addr;
    proxy_pass http://127.0.0.1:7865;
  }