<div class="container">

	<div class="col-md-6">
<%= render 'general/printRevForm' %>
</div>
	<div class="col-md-6">
		
		The following cards have not been found:<br /><br />		
<table class="table table-very-condensed">
	<tr><th>Input</th><th></th><th>Similar Cards</th></tr>
<% check_rev(@con2, @cards)[1].each do |t| %>
	<tr><td class="leftpadd" ><%= t %> </td>
		<td> &nbsp; </td>
		<td class="leftpadd">
			
			<% cards= Card.limit(10).where(['name LIKE ?', "#{t[0..3]}%"]) %>
			<% cards.each do |y| %>
				<%= makeCardLink(y) %>
				</font>
			<% end %>
		</td>
	</tr>
<% end %>
</table>

	</div>
</div>
